dist: xenial
language: python
python:
  - '3.4'
  - '3.5'
  - '3.6'
  - '3.7'
  - '3.8'
before_install:
  - sudo apt-get install -y pandoc
install:
  - pip install -r requirements.txt -r requirements-dev.txt
script:
  - pytest --doctest-modules
